/* -----
common 
----- */
@font-face {
    font-family: 'LeagueGothic-CondensedItalic';
    src: url(/fonts/league-gothic/LeagueGothic-Italic.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.main-font {
    font-family: 'LeagueGothic-CondensedItalic';
}

/* -----
header
----- */
header {
    position: fixed;
    width: 100vw;
    background-color: rgba(256, 256, 256, 0.3);
    z-index: 999;
}

.header__logo {
    text-align: center;
    color: #ffffff;
    margin: 0;
    font-size: 60px;
    padding: 15px 0;
}

/* -----
main
----- */
body {
    margin: 0;
    background: rgba(10, 20, 20, 1.0);
    color: #dddddd;
}

.bg {
    height: 100vh;
    width: 100vw;
    background-image: url(/img/IMG_2682.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

    &__filter {
        background-color: rgba(0, 0, 0, 0.0);
        height: 100vh;
        width: 100vw;
    }
}

.kv {
    &__container {
        height: 100vh;
        width: 100vw;
        background: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__main-content {
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        width: 80vw;
        height: 300px;
        text-align: center;
        color: aliceblue;
    }

    &__title {
        font-size: 124px;
    }

    &__sub-title {
        font-family: 'Lato', sans-serif;
        letter-spacing: 5px;
        font-weight: 100;
        font-size: 28px;
    }
}


/* -----
concept
----- */
.concept {
    margin-bottom: 300px;
    position: relative;

    &__number {
        font-size: 500px;
        font-family: 'LeagueGothic-CondensedItalic';
        position: absolute;
        text-stroke: 2px rgba(228, 179, 61, 1.0);
        -webkit-text-stroke: 2px rgba(228, 179, 61, 1.0);
        color: transparent;
        left: 1vw;
        top: -100px;
        z-index: -1;
    }

    &__title {
        font-size: 64px;
        letter-spacing: 2px;
        margin-left: 20vw;
        margin-bottom: 50px;

        strong {
            font-size: 100px;
        }
    }

    &__text {
        font-size: 36px;
        margin-left: 20vw;
        margin-right: 5vw;
        line-height: 64px;
    }
}

/* -----
archives
----- */
.archives {
    color: #333;
    background-color: rgba(256, 256, 256, 0.65);
    margin-bottom: 80px;
    margin: 0 4vw 120px;
    padding: 60px 3vw;

    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 48px;
        text-align: center;
    }

    &__under-line {
        background-color: #333;
        height: 1px;
        width: 230px;
        margin: 0 auto 40px;
        display: block;
    }
    
    &__separetor {
        background-color: #333;
        height: 1px;
        width: 74vw;
        margin: 0 auto 80px;
        display: block;
    }

    .archive {
        margin-bottom: 80px;
        
        &__content {
            margin-left: 80px;

            &-title {
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 48px;
            }
    
            &-text {
                font-size: 24px;
                margin: 15px 0 15px 58px;
            }
        }

        &__img {
            margin: auto;
            display: block;
            width: 70vw;
        }
    }
}


/* -----
footer
----- */
footer {
    margin-bottom: 80px;
    .bottom__line {
        margin: 0 5vw 50px;
        height: 1px;
        width: 90vw;
        background-color: #ddd;
    }

    .copy-right {
        text-align: center;
        font-size: 20px;
        color: #ddd;
    }
}